*{
    transition: all .5s ease-in-out
}
.class-one{
    background-color: #880000;
}
.class-tow{
    background-color: #001488;
}
.class-three{
    background-color: #080;
}
.class-one p{
    color: #080;
}
.class-one h2{
    color: #080;
}

.class-tow p{
    color: #880000;
}
.class-tow h2{
    color: #880000;
}

.class-three p{
    color: #001488;
}
.class-three h2{
    color: #001488;
}