input,textarea{
    display:block;
    width:50%;
    max-width:50%;
    margin:20px auto;
    padding:5px 15px;
    color:rgb(107, 107, 107);
    font-size: 20px
}
.container{
    text-align:center
}