body{
    background-color:#ccc;
    height: 9000px;
    transition: all .5s ease-in-out
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
}

#go-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    transition: all .5s ease-in-out
}