.container{
    text-align: center
}

.color-switcher{
    list-style-type: none;
    
}
.color-switcher li{
    display: inline-block;
    padding: 8px;
    border: 1px solid rgb(104, 104, 104);
    cursor: pointer
    
}.color-switcher li:hover{
    border: 1px solid rgb(179, 179, 179);
}
.color-switcher li[data-color="red"]{
    background-color: red;
}
.color-switcher li[data-color="green"]{
    background-color: green;
}
.color-switcher li[data-color="blue"]{
    background-color: blue;
}
h1{
    color: azure;
    padding: 20px;
}
.red h1{
    background-color: red;
}
.blue h1{
    background-color: blue
}
.green h1{
    background-color: green
}